<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css.css">
    <title>Programacion III - Reniel</title>
</head>
<body>

    <nav>
        <div id="Header">
            <h1 class="titulo">Programación III</li></h1>
        </div>
    </nav>


    <div class="fondo">

        <h1>Reniel Said Fernández Mota</h1>
        <p><b>Sección:</b> 1</p>

    </div>

</body>
</html>